.add-home-screen {
  margin-bottom: 56px;
  h2 {
    font-weight: 700;
  }
  h4 {
    font-weight: 700;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      padding-bottom: 8px;
    }
  }
}
