<div class="navbar">
  <div class="content-navbar">
   <div class="content-title"><%= content_for(:title) %></div>
  </div>
    <div class="d-flex align-items-right navbar-right">
    <%= content_for(:action) %>
  </div>
</div>
