<div class="tabBar">
  <div class="d-flex flex-row justify-content-around pt-2 pb-2">
    <div>
      <%= link_to lines_path, class: "d-flex flex-wrap flex-column align-items-center #{active_link(lines_path)}" do %>
        <i class="fas fa-directions"></i>
        <span>Lignes</span>
      <% end %>
    </div>
    <div>
      <%= link_to maps_path, class: "ripple d-flex flex-wrap flex-column align-items-center #{active_link(maps_path)}" do %>
        <i class="fas fa-map-marker-alt"></i>
        <span>Carte</span>
      <% end %>
      </a>
    </div>
    <div>
      <%= link_to favorites_path, class: "d-flex flex-wrap flex-column align-items-center #{active_link(favorites_path)}" do %>
        <i class="far fa-star"></i>
        <span>Favoris</span>
      <% end %>
      </a>
    </div>
  </div>
</div>

