form {
  width: 85%;
}

.log-in-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding-top: 50px;
}

.btn {
  color: white;
  font-weight: 700;
}


.form-actions-log-in {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}

.form-input {
  background: #0000;
  border: 0;
  padding: 0;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid #6e6e6e;
}

.form-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ee5f5b;
  outline: 0;
  box-shadow: none;
}

.registration {
  font-size: 14px;
  a {
    color: #ee5f5b;
    border-bottom: 1px dashed;
  }
}
