.tabBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1004;
  border: 1px solid #00000063;
  background: #fff;
  padding: 10px 15px;
  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  a {
    color: black;
    font-weight: 300;
    font-size: 14px;
    padding-top: 3px;
  }
}
